

/**
@mixin mobile{ //min-width:0
}
@mixin min{ //min-width:760px
}
@mixin med{ //min-width:992px
}
@mixin max{ //min-width:1200px
}
*/



@media all and (min-width: 0px) {
  a.hover,
  .default-btn:hover {
    background-color: rgb(175, 0, 0);
    border-color: rgb(175, 0, 0);
    color: white;
  }
  .navbar-toggler,
  .navbar-toggler-right {
    color: rgb(240, 0, 42);
    border-color: rgb(240, 0, 42);
    background: rgb(240, 0, 42) !important;
    border-radius: 5px;
  }
  .navbar-toggler:not(.collapsed),
  .navbar-toggler-right:not(.collapsed) {
    background: rgb(175, 0, 0) !important;
  }
  .navbar-toggler .icon-bar,
  .navbar-toggler-right .icon-bar {
    color: white;
    background: white;
  }
  .footer-area {
    background-color: #424F50;
    margin-top: 5rem;
    color: #AFAFAF;
  }
  .footer-area .container .row h3 {
    color: #AFAFAF;
    text-decoration: underline;
  }
  .footer-area .container .row ul li {
    color: #AFAFAF;
  }
  .footer-area .container .row ul li img {
    top: 7.5px;
  }
  .footer-area .container .row ul li span,
  .footer-area .container .row ul li a:link,
  .footer-area .container .row ul li a:visited {
    color: #AFAFAF;
  }
  .footer-area .container .row ul li:hover span,
  .footer-area .container .row ul li:hover a:link,
  .footer-area .container .row ul li:hover a:visited, .footer-area .container .row ul li:focus span,
  .footer-area .container .row ul li:focus a:link,
  .footer-area .container .row ul li:focus a:visited, .footer-area .container .row ul li:active span,
  .footer-area .container .row ul li:active a:link,
  .footer-area .container .row ul li:active a:visited {
    color: rgb(250, 0, 0);
  }
  .banner-area .container-fluid .banner-content h1 {
    color: white;
    text-shadow: 2px 2px black;
    background-color: rgba(0, 0, 0, 0.75);
    margin-bottom: 0;
    padding: 20px 0;
  }
  .banner-area .container-fluid .banner-content .search-form {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    margin-bottom: 0;
    border-radius: 0;
  }
  .banner-area .container-fluid .banner-content .search-form .row .col-lg-6 {
    width: 100%;
  }
  .banner-area .container-fluid .banner-content .search-form .row .col-lg-6 .form-group input {
    color: white;
  }
  .banner-area .container-fluid .banner-content .search-form .row .col-lg-6 .form-group .search-list {
    color: black;
  }
  .banner-area .container-fluid .banner-content .src-tag {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 0;
    border-radius: 0 0 6px 6px;
    display: none;
  }
  .banner-area .container-fluid .banner-img {
    left: 0px;
  }
  .banner-area .container-fluid .banner-img::before {
    background: none;
  }
  .banner-area .container-fluid .banner-img img {
    background: none;
    content: url("/images/added_erik/home_banner_mobile.jpg");
  }
  .single-category .category-content > h3 {
    margin-top: 12px;
  }
  .single-category .category-img img {
    margin-bottom: 0;
  }
  .single-category .category-img i {
    background-color: rgba(250, 0, 0, 0.75);
  }
  .featured-area .container .section-title-wrap .left-title,
  .featured-area .container .section-title-wrap .section-title-right {
    position: relative;
    max-width: 100%;
    margin: -15px auto 30px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featured-area .container .section-title-wrap .left-title h2,
  .featured-area .container .section-title-wrap .section-title-right h2 {
    text-align: center;
  }
  .featured-area .container .section-title-wrap .left-title .nav,
  .featured-area .container .section-title-wrap .section-title-right .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featured-area .container .section-title-wrap .left-title .nav li button:hover, .featured-area .container .section-title-wrap .left-title .nav li button:focus,
  .featured-area .container .section-title-wrap .section-title-right .nav li button:hover,
  .featured-area .container .section-title-wrap .section-title-right .nav li button:focus {
    background-color: #F0002A;
  }
  .featured-area .container .section-title-wrap .left-title .nav li button:active,
  .featured-area .container .section-title-wrap .section-title-right .nav li button:active {
    background-color: rgb(175, 0, 0);
  }
  .featured-area .container-fluid {
    left: 0;
  }
  .featured-area .container-fluid .tab-content .tab-pane .swiper .swiper-wrapper .swiper-slide .single-featured .feature-img {
    max-height: 300px;
    overflow: hidden;
  }
  .featured-area .container-fluid .tab-content .tab-pane .swiper .swiper-wrapper .swiper-slide .single-featured .featured-content .d-flex {
    flex-wrap: wrap;
  }
  .featured-area .container-fluid .tab-content .tab-pane .swiper .swiper-wrapper .swiper-slide .single-featured .featured-content .featured-info {
    display: none;
  }
  .featured-area .container-fluid .tab-content .tab-pane .swiper .swiper-pagination-clickable span {
    background-color: rgb(250, 0, 0);
  }
  .passwordHelp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .passwordHelp .loginOption {
    font-size: 80%;
  }
  .passwordHelp .loginOption:hover {
    color: #f0002a;
    cursor: pointer;
  }
}
@media all and (min-width: 992px) {
  .navbar .navbar-brand {
    margin-right: 50px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item > .nav-link {
    font-size: 20px;
  }
  .banner-area {
    height: 60vh;
  }
  .banner-area .container-fluid .banner-img img {
    content: url("/images/added_erik/home_banner_desktop.jpg");
  }
}/*# sourceMappingURL=customCSS_erik.css.map */